* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    width: 100%;
    overflow-x: hidden;

}

.hero {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url('/images/too.jpg') no-repeat center center/cover;
    height: 630.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 10)10%, rgba(0,0,0,10)20%, rgba(0, 0, 0, 0)170%);
        z-index: 1;
 }

.hero-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 90%;
    max-width: 1200px;
}
.navbar {
    display: flex;
    margin-top: -500px;
    margin-left: -1450px;
    position: absolute;
    z-index: 1;
}
.menu {
    margin-left: 460px;

}
.logo img {
    margin-left: 100px;
    margin-bottom: 30px;
    width: 134.38px;
    height: 18px;
    
}
.text {
    display: flex;
    justify-content: left;
    position: absolute;
    margin-left: 1300px;
}
.text p {
    display: flex;
    font: Inter;
    font-weight: 400;
    font-size: 11.6px;
    letter-spacing: 0.15px;
    color: #ffffff;
    width: 140px;
    margin-top: 12px;
    margin-left: 10px;



}
.text h5 {
    display: flex;
    width: 142px;
    height: 40px;
    font-weight: 500;
    font-size: 11.8px;
    line-height: 24px;
    color: #ffffff;
    border: #cfcfcf;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 10px;
    
 
}
.text h6 {
    margin-top: 10px;
    width: 74px;
    height: 20px;
    width: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #ffffff;
    margin-left: 0px;

}
.pill-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 160px;
    height: 40px;
    margin-left: 20px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 100%;   box-shadow: 4px 4px 50px -4px #D1D1D199;
}

.blue-dot {
    margin-left: 3px;
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border-radius: 50%;
    animation: flash 1s infinite;
}

.pill-text {
    opacity: 1;
    color: #ffffff;
    font-weight: 500;
    font-size: 11.8px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-family: Inter;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.social {
    margin-left: 120px;
    display: inline-flex;
    justify-content: space-between;
    gap: 10px
}
.social img {
    width: 20px;
    height: 20px;
}
    
.hero-image {
    width: 446px;
    height: 446px;
    overflow: hidden;
    display: flex;
    margin: -5px;
    margin-top: 150px;
    border-radius: 24px;
}
.search-container {
    position: relative;
    left: px;

}
.search-bar {
    width: 118px;
    height: 20px;
    padding: 15px;
    font-size: 10.2px;
    background-color: transparent;
    color: #333;
    outline: none;
    line-height: 20px;
    border: none;
}
.search-bar::placeholder {
    color: #ffffff;
    opacity: 0.7;
}
.hero-image:hover img {
    transform: scale(1.1);
    position: relative;

   
}
.hero-image img {
    transition: all ease 1s;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.hero-text {
    max-width: 650px;
}

.hero-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    color: white;
}

.author-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    font-size: 16px;
    color: #cfcfcf;
    opacity: 0.85;
}

.editor-choice {
    display: flex;
    background-color: black;
    height: 327px;
    width: 100%;
    align-content: center;

}
.choice-container {
    position: absolute;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    margin-right: 600px;
    margin-left: 300px;
    z-index: 5;
    max-height: 500px;
    max-width: 1600px;
    overflow-y: hidden;
    
    
}
.choice-container:last-child {

}
::-webkit-scrollbar {
    position: absolute;
    bottom: 100px;
    width: 10px;  
    height: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0073e6;  
    border-radius: 10px;        
    border: 2px solid #f0f2f5; 
}

::-webkit-scrollbar-track {
    background-color: #f0f2f5;  
}

::-webkit-scrollbar-thumb:hover {
    background-color: #005bb5;  
}

.choice {
    flex: 1;
    position: relative;
}
.choice img{
    width: 260px;
    height: 360px;
    border-radius: 10px;
    display: flex;
    margin-top: 100px;
    object-fit: cover;
    background-color: black
}
.choice img:hover {
}
.editor-choice h1 {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 244px;
    height: 24px;
    margin-left:400px;
    font-weight: 700;
    font-size: 15.8px;
    line-height: 24px;
    color: #ffffff

}
.choice-title {
    margin-left: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%, 95%);
}
.choice-title h2 {
    font-size: 20px;
    color: #ffffff;
    width: 240px;

    background-size: cover;       
}
.choice-title h3 {
    font-weight: 500;
    height: 20px;
    width: 200px;
    top: 415px;
    font-size: small;
    color: white;
    background-size: cover;
    padding-left: 3px;
    background-color: #007BFF;
    border-radius: 20%;
} 
.main-feed {
    margin-top: 100px;
    position: relative;
}
.feed-left {
    position: relative;
    left: 250px;
}
.author-name{
    display: flex;
    margin-left: 250px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14.8px;
    left: 2px;
    color: #000000;
    position: absolute;
}
.author2 {
    margin-top: 2px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 20px;
}
.author2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    left: 200px;
    z-index: 2;
    bottom: 200px;
}

.DateL {
    position: absolute;
    font-size: 16px;
    color: #888888;
    left: 250px;
    top: 20px;
}
.feed-content {
    position: relative;
    margin-left: 200px;
    display: flex;
    justify-content: left;
    background-color: white;
    width: 739px;
    height: 183px;
    border-radius: 24px;
    box-shadow: 0px 0px 50px 4px #D1D1D14D;
    
}
.feed-content h1 {
    top: 30px;
    position: absolute;
    font-weight: 700;
    font-size: 21.1px;
    letter-spacing: 0.15px;
    color: #000000;
    left: 30px;
}
.feed-content img {
    position: absolute;
    left: 550px;
    top: 20px;

}
.feed-right {
    position: relative;
    top: 500px;
    left: 800px;
}
.author-nameR{
    font-family: Inter;
    font-weight: 500;
    font-size: 14.8px;
    left: 760px;
    color: #000000;
    position: absolute;
    bottom: 225px;
}
.authorR {
    margin-top: 2px;
    margin-left: 200px;
    margin-bottom: 20px;
}
.authorR img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 50px;
    left: 850px;
    z-index: 2;
    bottom: 200px;
}

.DateR {
    position: absolute;
    font-size: 16px;
    color: #888888;
    left: 630px;
    bottom: 200px;
}
.feed-contentR {
    position: relative;
    margin-left: 200px;
    display: flex;
    justify-content: left;
    background-color: white;
    width: 739px;
    height: 183px;
    border-radius: 24px;
    box-shadow: 0px 0px 50px 4px #D1D1D14D;
    ;
}
.feed-contentR h1 {
    top: 30px;
    position: absolute;
    font-weight: 700;
    font-size: 21.1px;
    letter-spacing: 0.15px;
    color: #000000;
    left: 30px;
}
.feed-contentR img {
    position: absolute;
    left: 550px;
    top: 20px;

}
.author-info {

}

.feed-right2 {
    position: relative;
    top: 500px;
    left: 800px;
}

.grid-container {
    position: relative;
    gap: 30px;
    top: 300px;
    margin: auto;
    border: 2px solid green;
    height: 1135px;
    width: 1302px;
    display: grid;

    
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 24px;
}


